fastapi==0.111.0
uvicorn==0.30.1
psycopg2-binary==2.9.9
geoalchemy2==0.14.7
SQLAlchemy==2.0.30
redis==5.0.4
fastapi-cache2[redis]==0.2.1
pydantic==2.7.2
pydantic-settings==2.2.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9